.c-file {
    position: relative;

    &--xs {
        width: 40px;
    }

    &--sm {
        width: 80px;
    }

    &--md {
        width: 120px;
    }

    &--lg {
        width: 160px;
    }

    &--relative {
        width: 100%;
    }

    &--mm {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &:before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__upload {
        background-color: var(--panel-bg);
        border: 1px dashed var(--layout-border-color);
        transition: background $transition;
        cursor: pointer;

        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: var(--color-gray-4);
            transform: translateX(-50%) translateY(-50%);
        }

        &:before {
            width: 2px;
            height: 40%;
        }

        &:after {
            width: 40%;
            height: 2px;
        }

        &:hover {
            background-color: var(--upload-hover-bg);
        }

        &--icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5rem;
            color: var(--layout-border-color);

            &:before, &:after {
                display: none;
            }
        }
    }

    &__progress {
        display: flex;
        align-items: center;
        padding: 0 $g-sm;
        background-color: var(--media-progress-bg);

        &-inner {
            width: 100%;
            background-color: var(--media-progress-value-wrap-bg);
            border-radius: 10px;
            overflow: hidden;
            transition: $transition;

            .value {
                height: 14px;
                background-color: var(--media-progress-value-bg);
            }

            .is-success & {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &__result {
        display: flex;
        background-color: var(--media-progress-bg);

        &-inner {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            fill: currentColor;
        }
    }

    &__preview {
        display: flex;
        cursor: pointer;

        &-inner {
            position: relative;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--media-progress-bg);
            z-index: 1;

            img {
                width: 100%;
            }
        }

        svg {
            fill: currentColor;
        }

        &:hover {
            .c-file {
                &__controls {
                    opacity: 1;
                    visibility: visible;

                    .el-button--text {
                        transform: translateY(0);

                        &:first-child {
                            transition: transform $transition .07s, all $transition;
                        }

                        &:nth-child(2) {
                            transition: transform $transition .14s, all $transition;
                        }
                    }
                }
            }
        }

        &--border {
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: -5px;
                left: -5px;
                right: -5px;
                bottom: -5px;
                pointer-events: none;
                transition: background $transition;
            }

            &:hover {
                &:before {
                    background-color: var(--media-item-hover-border-color);
                }
            }

            &.is-active {
                &:before {
                    background-color: var(--color-success);
                }
            }
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($black, .7);
        color: $white;
        opacity: 0;
        visibility: hidden;
        transition: $transition;

        .el-button--text {
            padding: 8px;
            margin: 0;
            font-size: $font-size-lg;
            transform: translateY(-10px);
        }
    }

    &__upload,
    &__progress,
    &__result,
    &__preview-inner,
    &__preview--border:before {
        border-radius: $border-radius;
        overflow: hidden;

        .c-file--border-lg & {
            border-radius: 10px;
        }
    }

    &__preview-inner {
        .c-file--border-lg & {
            border-radius: 6px;
        }
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;

        .c-file {
            &__progress-inner,
            &__result-inner {
                transition: transform .5s;
            }
        }
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;

        .c-file {
            &__progress-inner,
            &__result-inner {
                transform: translateY(-10px);
            }
        }
    }
}

.c-user-general {
    margin-top: 60px;

    .c-file {
        margin: -80px auto 0;

        &__upload,
        &__progress,
        &__result,
        &__preview-inner,
        &__preview--border:before {
            border-radius: 50%;
        }

        &__upload {
            border-width: 2px;
        }

        &__preview {
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: -1px;
                left: -1px;
                right: -1px;
                bottom: 50%;
                border-top-left-radius: 61px;
                border-top-right-radius: 61px;
                border: 1px solid var(--layout-border-color);
                border-bottom: none;
                pointer-events: none;
            }

            &-inner {
                border: 7px solid var(--panel-bg);
            }
        }
    }
}

@include media-breakpoint-down(sm) {

    .c-user-general {
        margin-top: 0;

        .c-file {
            margin: 0 auto;
            width: 80px;
        }
    }

}
