.sa-np {
    background: url(../img/np.png);
}


.el-input-group .border-right-radius .el-input__inner {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.el-notification__group .el-notification__content {
    cursor: pointer;
}

.guide-mobile-font-base {
    font-size: 1.8rem !important;
}

.guide-mobile-font-base .el-collapse-item__content {
    font-size: 1.75rem !important;
}

.guide-mobile-font-base .c-list__main .title {
    font-size: 1.7rem !important;
}

.guide-mobile-font-base .c-nav__main .el-menu-item {
    font-size: 1.65rem !important;
}

.guide-mobile-font-base .el-form-item__label,
.guide-mobile-font-base .c-form-preview__label,
.guide-mobile-font-base .c-list__main .description,
.guide-mobile-font-base .el-checkbox__label {
    font-size: 1.6rem !important;
}

.guide-mobile-font-base .el-menu-item-group__title,
.guide-mobile-font-base .el-tag,
.guide-mobile-font-base .c-nav__user-role,
.guide-mobile-font-base .el-collapse-item__header {
    font-size: 1.55rem !important;
}




.guide-mobile-font-lg {
    font-size: 1.95rem !important;
}

.guide-mobile-font-md {
    font-size: 1.7rem !important;
}

.guide-mobile-font-sm {
    font-size: 1.5rem !important;
}

.guide-mobile-font-xs {
    font-size: 1.4rem !important;
}
